#content{
  display: block;
  width: 80%;
  margin: auto;
}

.form-siscad{
  padding: 5px 0;
}

#form-login{
  display: block;
  margin: auto;
  width: 400px;
}

#logout{
  position: absolute;;
  display: inline;;
  right: 150px;
  top:20px;
}
